BETTER_AUTH_SECRET=edSvT72TT56FfT6EBp3RbUP7TaFagIvWW
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
MONGO_URI=mongodb+srv://recipehubb:6MYWctHGvG6hVwtEE@cluster0.rsynxg9.mongodb.net/recipehub?appName=Cluster0